<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular wizard example</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/angular-wizard.min.css">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="../dist/angular-wizard.min.js"></script>

</head>
<body ng-app="wizard-example" ng-controller="WizardExampleController as ctrl">

  <wizard>

    <!-- Step 1: Personal details -->
    <wizard-step data-title="Personal details" validation="ctrl.validatePersonalDetails">
      <form name="form.personal">

        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input type="text" id="firstname" class="form-control" ng-model="ctrl.account.firstname">
        </div>

        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input type="text" id="lastname" class="form-control" ng-model="ctrl.account.lastname">
        </div>
      </form>
    </wizard-step>

    <!-- Step 2: Account details -->
    <wizard-step data-title="Personal details" validation="ctrl.validateAccountDetails">
      <form name="form.account">

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" id="email" class="form-control" ng-model="ctrl.account.email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" ng-model="ctrl.account.password">
        </div>

        <div class="form-group">
          <label for="password-confirmation">Password</label>
          <input type="password" id="password-confirmation" class="form-control" ng-model="ctrl.account.password">
        </div>
      </form>
    </wizard-step>

    <!-- Step 3: Confirmation -->
    <wizard-step data-title="Personal details" validation="ctrl.validateAccountDetails">

    </wizard-step>

  </wizard>

</body>
</html>
